<!DOCTYPE html>
<html>
<head>
	<title>Test blog</title>
</head>
<body>

<div>
	<h1><a href="/">Title</a></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et neque sapien. Nullam sit amet sollicitudin diam, et commodo elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam pellentesque convallis ipsum, id pharetra libero interdum sed. Nunc a mauris egestas libero feugiat bibendum. Ut volutpat sollicitudin enim, nec fermentum justo. Fusce diam orci, ultricies sed pellentesque ut, pharetra ac turpis. Donec at erat viverra, vehicula ipsum sodales, finibus nunc. Nunc eu dolor nec ligula luctus lacinia sit amet et ipsum. Morbi consectetur erat vel lacus tincidunt euismod. Pellentesque interdum volutpat libero, tincidunt sollicitudin sapien sollicitudin gravida. Integer scelerisque eros purus. Sed et lacus gravida, pulvinar libero eget, interdum nisi. Nunc in molestie nulla. Proin pellentesque diam ut tortor laoreet, sit amet egestas orci tempor.</p>
</div>
	<h1><a href="">Second Title</a></h1>
{% for post in posts %}
	<div>
		<p>published: {{ post.published_date}}</p>
		<h1><a href="">{{post.title}}</a></h1>
		<p>{{post.text|linebreaksbr}}</p>
	</div>
{% endfor %}
</body>
</html>